<header>
  <h1>Roundie Challenge</h1>
  <h2>In Search of the Unknown</h2>
</header>

<div class="containers-frame">
  <div id="timer-container">00:00:00</div>
  <div class="inputs-container">
    <input maxlength="1">
    <input maxlength="1">
    <input maxlength="1">

    <input maxlength="1">
    <input maxlength="1">
    <input maxlength="1">
  </div>
  <button id="send-code">Enviar</button>
  <div class="clue">Una clue</div>
  <div class="notification"></div>
</div>


<audio id="audio-noti" src="<%= asset_path('clue.mp3') %>" preload="auto"></audio>
<audio id="audio-kwi" src="<%= asset_path('kwi.mp3') %>" preload="auto"></audio>
<audio id="audio-clown" src="<%= asset_path('clown.mp3') %>" preload="auto"></audio>
<audio id="audio-gpaul" src="<%= asset_path('gpaul.mp3') %>" preload="auto"></audio>
<audio id="audio-gpol" src="<%= asset_path('gpol.mp3') %>" preload="auto"></audio>
<audio id="audio-wisely" src="<%= asset_path('wisely.mp3') %>" preload="auto"></audio>
<audio id="audio-poorly" src="<%= asset_path('poorly.mp3') %>" preload="auto"></audio>
