<header>
  <h1>Roundie Challenge</h1>
  <h2>In Search of the Unknown</h2>
</header>

<div class="containers-frame">

  <div class="clue">
    <% if @clue&.clue.present? %>
      <%= @clue.clue %>
    <% else %>
      Muy bien Flancito, terminaste el Roundie challenge!
    <% end %>
  </div>


  <%= form_for :quest, url: post_quest_path, method: :post do |form| %>
    <div class="inputs-container">

      <input name="l1" maxlength="1">
      <input name="l2" maxlength="1">
      <input name="l3" maxlength="1">

      <input name="l4" maxlength="1">
      <input name="l5" maxlength="1">
      <input name="l6" maxlength="1">
    </div>


    <% unless @error.nil? %>
      <% if @error %>
        <div class="notification"><%= @error_message %></div>
      <% else %>
        <div class="notification success"><%= @error_message %></div>
      <% end %>
    <% end %>
    <%= form.submit %>
  <% end %>


</div>


<audio id="audio-noti" src="<%= asset_path('clue.mp3') %>" preload="auto"></audio>
<audio id="audio-kwi" src="<%= asset_path('kwi.mp3') %>" preload="auto"></audio>
<audio id="audio-clown" src="<%= asset_path('clown.mp3') %>" preload="auto"></audio>
<audio id="audio-gpaul" src="<%= asset_path('gpaul.mp3') %>" preload="auto"></audio>
<audio id="audio-gpol" src="<%= asset_path('gpol.mp3') %>" preload="auto"></audio>
<audio id="audio-wisely" src="<%= asset_path('wisely.mp3') %>" preload="auto"></audio>
<audio id="audio-poorly" src="<%= asset_path('poorly.mp3') %>" preload="auto"></audio>
