<h1>Scraper#index</h1>
<p>Find me in app/views/scraper/index.html.erb</p>
<table>

  <% @entries.each do |entry| %>
      <ul class="<%= entry.status.parameterize == '' ? 'available' : 'not-available' %>">
        <li><strong>Id: </strong><%= entry.id %></li>
        <li><strong>Site Id: </strong><%= entry.site_id %></li>
        <li><strong>Title: </strong><%= entry.title %></li>
        <li><strong>Status: </strong><%= entry.status %></li>

      </ul>
  <% end %>

</table>